body {
    background-color: #f0f0f0;
}
.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    height: 56px;
    padding: 0 60px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: calc(1440px - 120px);
    margin: 0 auto;
    padding: 0 60px;
}

.searchbar_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.searchbar_wrap input {
    padding: 15px;
    border: none;
    width: 250px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.searchbar {
    position: relative;
}

.searchbar span {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
}

.searchbar ul {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    top: 105%;
    border-radius: 8px;
    cursor: pointer;
}

.filter_wrap {
    width: 100%;
    margin: 50px 0;
}

.searchbar ul li:not(:last-of-type) {
    padding-bottom: 10px;
}

.filter_wrap ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.filter_wrap ul li {
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.filter_wrap ul img {
    width: 100%;
    height: auto;
}

.filter_wrap .txt_wrap {
    padding: 30px;
}

.filter_wrap .txt_wrap h2 {
    font-size: 25px;
    font-weight: 700;
}

.filter_wrap .txt_wrap p {
    margin-top: 10px;
}

.filter_wrap .txt_wrap p:first-of-type {
    margin-top: 20px;
}

.filter_wrap .txt_wrap p span:first-of-type {
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
}

.filter_wrap .txt_wrap p span:nth-of-type(2) {
    font-weight: 300;
}

.detail_container {
    background-color: white;
}

.detail_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 150px 60px;
    margin: 0 auto;
}

.detail_wrap > div {
    flex: 1;
}

.detail_wrap > div img {
    width: 100%;
}

.detail_wrap > div h2 {
    font-weight: 700;
    font-size: 30px;
}

.detail_wrap > div > ul {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

.detail_wrap > div > ul li {
    margin-top: 15px;
}

.detail_wrap > div > ul li span,
.border_country p span {
    font-weight: 600;
    margin-right: 5px;
}

.border_country {
    margin-top: 100px;
}

.border_country div {
    display: flex;
    align-items: center;
}

.border_country div span {
    margin-right: 10px;
}

.border_country ul li{
    display: inline-block;
    width: 50px;
    height: 25px;
    line-height: 25px;
    font-size: 13px;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
}

.back {
    max-width: calc(1440px - 120px);
    margin: 0 auto;
    padding: 0 60px;
}

.back button {
    border: none;
    background-color: inherit;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
    cursor: pointer;
}

