.wrap_banner {
  height: 250px;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: var(--color-dark-violet);
  background-image: url('/src/assets/bg-boost-desktop.svg');
  text-align: center;
  color: #fff;
}
.wrap_banner strong {
  display: block;
  margin-bottom: 30px;
  font-size: 40px;
}
.wrap_banner button {
  padding: 12px 30px;
  font-weight: 900;
  border-radius: 20px;
}
@media (max-width: 1150px) {
  .wrap_banner {
    background-image: url('/src/assets/bg-boost-mobile.svg');
  }
  .wrap_banner strong {
    font-size: 35px;
  }
  .wrap_banner button {
    padding: 20px 50px;
    font-size: 25px;
    border-radius: 40px;
  }
}
