.wrap_search {
  position: relative;
  background-color: #eff1f7;
}
.inner_search::before {
  content: '';
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 50px;
  background-color: #fff;
}
.box_search {
  z-index: 10;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 30px 30px 40px;
  background-color: var(--color-dark-violet);
  background-image: url('/src/assets/bg-shorten-desktop.svg');
  background-repeat: no-repeat;
  border-radius: 8px;
  box-sizing: border-box;
}
.wrap_search input {
  width: calc(100% - 150px);
  height: 40px;
  padding: 5px 15px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
}
.type_error {
  outline: 1px solid var(--color-red);
}
.wrap_search button {
  margin-left: 10px;
  padding: 12px 35px;
  border-radius: 5px;
}
.txt_alert {
  padding-top: 10px;
  color: var(--color-red);
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
}
.item_result {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  line-height: 40px;
}
.txt_before {
  overflow: hidden;
  display: box;
  display: -moz-box;
  display: -webkit-box;
  width: 500px;
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.txt_after {
  margin-left: auto;
  margin-right: 10px;
  color: var(--color-cyan);
}
.btn_copy {
  min-width: 120px;
}
.active {
  background-color: var(--color-dark-violet);
}
.active:hover {
  background-color: var(--color-dark-violet);
}
@media (max-width: 1150px) {
  .wrap_search input {
    width: 100%;
    height: 60px;
    font-size: 20px;
  }
  .wrap_search button {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
    font-size: 25px;
  }
  .box_search {
    background-image: url('/src/assets/bg-shorten-mobile.svg');
  }
  .item_result {
    display: block;
  }
  .txt_before {
    width: 100%;
    border-bottom: 1px solid var(--color-gray);
  }
  .txt_after {
    display: block;
    width: 100%;
    margin: 10px 0 0;
    color: var(--color-cyan);
  }
  button.btn_copy {
    font-size: 20px;
  }
}
