.inner_intro {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 30px;
}
.wrap_txt {
  padding: 120px 0;
}
.wrap_txt h3 {
  font-size: 55px;
}
.wrap_txt p {
  padding: 20px 0 50px;
}
.wrap_txt button {
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: 900;
}
@media (max-width: 750px) {
  .inner_intro {
    display: block;
  }
  .wrap_img img {
    width: 100%;
    margin: 0 30px;
  }
  .wrap_txt {
    text-align: center;
  }
  .wrap_txt p {
    font-size: 25px;
  }
  .wrap_txt button {
    width: calc(100% - 100px);
    padding: 20px 10px;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 30px;
  }
}
