:root {
  font-family: 'Nunito Sans', sans-serif;
  --dark-blue: hsl(209, 23%, 22%);
  --d-very-dark-blue: hsl(207, 26%, 17%);
  --l-very-dark-blue: hsl(200, 15%, 8%);
  --l-dark-gray: hsl(0, 0%, 52%);
  --l-very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
