@import url(https://fonts.googleapis.com/css?family=Poppins:500,700);
body {
  background-color: #ebebeb;
}
body * {
  box-sizing: border-box;
}
body,
div,
h1,
h2,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

button,
input {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

#root {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  color: var(--neutral-dark-violet);
}

:root {
  --main-cyan: hsl(180, 66%, 49%);
  --main-violet: hsl(257, 27%, 26%);
  --secondary-red: hsl(0, 87%, 67%);
  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-grayish-violet: hsl(257, 7%, 63%);
  --neutral-dark-blue: hsl(255, 11%, 22%);
  --neutral-dark-violet: hsl(260, 8%, 14%);
}
